
*.vcxproj
*.filters
HaxelCommunication/HaxelCommunication/HaxelCommunication.vcxproj.user
*.vsidx
*.lock
HaxelCommunication/.vs/HaxelCommunication/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.tlog
*.recipe
*.ilk
*.log
*.idb
*.pdb
